# Configurações do Servidor
HOST=127.0.0.1 # localhost
PORT=8763

# Configurações de Áudio e Voz
DEFAULT_VOICE=pm_santa # Ex: "pm_santa", "pf_dora", "pm_alex", etc
DEFAULT_SPEED=1.0 # default speed multiplier (0.85 = slow, 1.0 = normal, 1.25 = fast)
# SAMPLE_RATE=24000

IDLE_TIMEOUT=600 # Tempo de inatividade em segundos (10 min) para liberar VRAM da GPU
DEVICE=cuda # "cuda" para GPU, "cpu" para CPU