# Servidor e Utilidades
python-dotenv==1.2.3
numpy==2.5.2
sounddevice==0.5.6

# TTS & ONNX Engine (Substitui PyTorch)
kokoro-onnx==0.6.1
onnxruntime==1.29.0
espeakng-loader==0.2.4

# Qwen-TTS (Para falas expressivas com style instructions)
torch>=2.4.0
transformers>=4.45.0
qwen-tts