HOST=127.0.0.1 # localhost
PORT= 8760

RATE = 16000
CHANNELS = 1
CHUNK = 1280
THRESHOLD = 0.5

# URLs dos Serviços
AGENT_SERVER_URL = "http://127.0.0.1:8761"  # Servidor AGENT
STT_SERVER_URL = "http://127.0.0.1:8762"  # Servidor STT
TTS_SERVER_URL = "http://127.0.0.1:8763"  # Endpoint da sua rota TTS
